<h1>Welcome <em><%= @user.username %></em></h1>

<h2>Your Posts</h2>
<% if @user.posts.empty? %>
  <p>You don't have any posts yet!</p>
  <%= link_to 'Create First Post', new_post_path %>
<% else %>
  <% @user.posts.each do |post| %>
    <div data-user-post-id="<%= post.id %>">
      <h3><%= link_to post.product_name, post.url, target: "_blank" %></h3>
      <p><%= post.tagline %></p>
      <%= link_to "Edit", edit_post_path(post) %> |
      <%= link_to "Delete", post, method: :delete, class: "red" %>
    </div>
  <% end %>
<% end %>
