<div id="postContainer">
  <h1>Posts</h1>

  <% @posts.each do |post| %>
    <div data-post-id="<%= post.id %>" class="post-content col-sm-12">
      <% if user_signed_in? && post.has_upvote_from(current_user)%>
        <%= link_to post_upvote_path(post, post.upvote_from(current_user)),
          method: :delete,
          form: { data: { 'upvote-button' => 'delete'} },
          class: "vote-down" do %>
            <div class="vote col-sm-2">
              &#9650;
              <span><%= post.upvotes.count %></span>
            </div>
        <% end %>
      <% else %>
        <%= link_to post_upvotes_path(post),
          method: :post,
          form: { data: {'upvote-button' => 'create'} },
          class: "vote-up" do %>
            <div class='vote col-sm-2'>
              &#9650;
              <span><%= post.upvotes.count %></span>
            </div>
        <% end %>
      <% end %>

      <div class="col-sm-4">
      <h3><%= link_to post.product_name, post.url, target: "_blank" %></h3>
      <p><%= post.tagline %></p>
      </div>
    </div>
  <% end %>
</div>
