<h1><%= link_to @post.product_name, @post.url, target: "_blank" %></h1>
<h5><%= @post.tagline %></h5>

<% if !@comments.nil? %>
  <h3>Comments</h3>
  <div class="col-md-12">
    <% @comments.each do |comment| %>
      <div data-post-id="<%= comment.id %>" class="post-content col-sm-12">
        <% if user_signed_in? && comment.has_upvote_from(current_user)%>
          <%= link_to post_comment_vote_path(@post, comment, comment.upvote_from(current_user)),
            method: :delete,
            class: "vote-down" do %>
              <div class="vote col-sm-2">
                <span>&#9650;</span>
                <span><%= comment.votes.count %></span>
              </div>
          <% end %> <!-- end link_to -->
        <% else %>
          <%= link_to post_comment_votes_path(@post, comment),
            method: :post,
            class: "vote-up" do %>
              <div class='vote col-sm-2'>
                <span>&#9650;</span>
                <span><%= comment.votes.count %></span>
              </div>
          <% end %> <!-- end link_to -->
        <% end %> <!-- end if/else -->
        <div class="col-sm-4">
          <h5><%= comment.user.username %></h5><p><%= comment.body %></p>
          <% if comment.belongs(current_user) %>
            <%= link_to "Delete", post_comment_path(@post, comment), method: :delete, class: "red" %>
          <% end %>
        </div>
      </div>
    <% end %> <!-- end .each() -->
  </div>
<% end %>

<% if @comment.errors.any? %>
  <p> There were errors in your submission </p>
  <ul>
    <% @comment.errors.each do |key, val| %>
      <li><%= key.capitalize %> <%= val %></li>
    <% end %>
  </ul>
<% end %>

<% if user_signed_in? %>
  <div class="col-md-10">
    <h3>Leave Comment</h3>
    <%= form_for [@post, @comment] do |f| %>
      <div>
        <%= f.text_area :body, placeholder: "Leave a comment" %>
      </div><br>
      <%= f.submit "Comment" %>
    <% end %>
  </div>
<% end %>
